	<header class="post-header">
		<h1 class="post-title">{{ page.title | escape }}</h1>
		
                <div id="sidebar">
                    {% if page.related %}
                    <em>Related pages:</em>
                    <ul>
                    {% for related in page.related %}
                    <li><a href="{{ related | slugify }}.html">{{ related }}</a></li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                

		{% capture catname %}{{ page.category | replace: "_", " " }}{% endcapture %}
		{% capture subcatname %}{{ page.subcategory | replace: "_", " " }}{% endcapture %}
                <table><tr>
		<th><em>category</em></th>
		{% if page.category %}<td><a href="{{site.baseurl}}/index.html#{{catname}}">{{ catname }}</a></td>{% endif %}
		{% if page.subcategory %}<td><a href="{{site.baseurl}}/index.html#{{subcatname}}">{{ subcatname }}</a></td>{% endif %}
                </tr>
		{% if page.tags %}
                    <tr>
                    <th><em>tags</em></th>
                    {% for tag in page.tags %}
                        <td>{{ tag }}</td>
                    {% endfor %}
                    </tr>
		{% endif %}
                </table>
                
       		{% if page.summary %}
		<p class="post-summary">
			<em>{{page.summary}}</em>
		</p>
		{% endif %}
		
	</header>
